.offset-by-one.nine.columns#artworks
  .twelve-columns.row.artwork{'v-for' => 'artwork in artworks'}
    .one-third.column
      %a{'v-bind:href' => "'/artworks/' + artwork.id"}
        %img.u-full-width{src: 'http://news.xinhuanet.com/photo/2015-09/07/128201710_14415816922681n.jpg' }
      .button.primary{'v-on:click' => 'togglePublishment(artwork)'} {{ (artwork.published) ? 'Unpublish' : 'Publish' }}
    .two-thirds.column.info
      %h4.title {{ artwork.title }}
      .row
        %span.label Mediums:
        {{ artwork.mediums }}
      .row
        %span.label Year:
        {{ artwork.year }}
      .row
        %span.label Artist:
        {{ artwork.artist.first_name }} {{ artwork.artist.last_name }}